.services {
    padding: 8.8rem 12rem 12rem;
    background-color: var(--gray-100);
  
    header {
      margin-bottom: 5.6rem;
    }
  
    .cards {
      margin-inline: 12rem;
      justify-content: center;
    }
  
    .card {
      
      border: 2px solid var(--gray-200);
      border-radius: 1.2rem;
      padding: 2rem;
      width: 28rem;
    }
  }